// Backgrounds
$basic_background: #FFF;
$dark_background: #222222;
$light_background:#F1E4E6;
$product_cards_background: #F8F8F8;
$highlights_background: #F16D7F;

// Font colors
$basic_font_color: #222222;
$additional_font_color:#5D5D5D;
$color_for_dark_background: #FFFFFF;
$highlights_font_color: #F16D7F;
$articles_font: #9F9F9F;

// Content size
$desktop_content_width: 1140px;
$tablet_content_width: 736px;
$mobile_content_width: 343px;

