@charset "UTF-8";
.navigation {
  background-color: #F8F3F4;
}
.navigation__page-title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}
.navigation__containter {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.navigation__breadcrumbs-ul {
  padding-top: 66px;
  padding-bottom: 66px;
  display: flex;
  list-style-type: none;
}
.navigation__breadcrumbs-li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.navigation__breadcrumbs-link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}
.navigation__breadcrumbs-link-last {
  font-weight: 700;
  color: #F16D7F;
}
.navigation__breadcrumbs-link:hover {
  text-decoration: underline;
}

.catalog-space {
  margin-bottom: 80px;
}

.product__info {
  position: relative;
}

.product__gallery {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
}
.product__gallery__image {
  margin-top: 11px;
  margin-bottom: 42px;
  object-fit: cover;
  width: 500px;
  height: 500px;
}
.product__gallery__left, .product__gallery__right {
  padding: 8px;
  background-color: rgba(42, 42, 42, 0.15);
  cursor: pointer;
  transition: fill 0.3s;
}
.product__gallery__left:hover path {
  fill: #F16D7F;
}
.product__gallery__right:hover path {
  fill: #F16D7F;
}

.product__data {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  border: solid 1px #EAEAEA;
  position: sticky;
  z-index: 1;
  top: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.product__data__subtitle {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 12px;
}
.product__data__devider {
  text-align: center;
  padding-bottom: 12px;
}
.product__data__title {
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 48px;
}
.product__data__text {
  color: #5D5D5D;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0px 292px 32px 292px;
}
.product__data__price {
  color: #da2a52;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 65px;
}
.product__data__filter {
  display: flex;
  gap: 23px;
  padding-top: 65px;
}
.product__data__filter__item {
  display: flex;
  align-items: center;
  gap: 9px;
  transition: all 0.3s;
  cursor: pointer;
}
.product__data__filter__text {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__data__filter__item:hover path {
  fill: #F16D7F;
}
.product__data__filter__item:hover .product__data__filter__text {
  color: #F16D7F;
}
.product__data__button {
  border: solid 1px #F16D7F;
  display: flex;
  align-items: center;
  margin-top: 64px;
  cursor: pointer;
  transition: all 0.3s;
  justify-content: center;
  background-color: #F16D7F;
}
.product__data__button__text {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 57px 15px 24px;
}
.product__data__button__logo {
  padding-left: 24px;
}
.product__data__button:hover {
  background-color: #F16D7F;
}
.product__data__button:hover .product__data__button__logo path {
  fill: #F16D7F;
}
.product__data__button:hover .product__data__button__text {
  color: #FFFFFF;
}

.subscription__product-page {
  background-image: url("../img/subscribe_background.jpg");
  max-width: 1600px;
  height: 448px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 128px;
}

.payment-options {
  object-fit: cover;
  width: auto;
  height: 10px;
}

@media (max-width: 1023px) {
  .product__gallery {
    margin-bottom: 0;
  }
  .product__gallery__image {
    margin-top: 29px;
    margin-bottom: 29px;
    height: 565px;
  }
  .product__data {
    position: static;
    border-left: 0;
    border-right: 0;
  }
  .product__data__text {
    padding: 0px 106px 32px 106px;
  }
  .hidden_product {
    display: none;
  }
}
@media (max-width: 767px) {
  .navigation {
    height: 148px;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 46px;
  }
  .navigation__page-title {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navigation__containter {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .navigation__breadcrumbs-ul {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .product__gallery {
    margin-bottom: 0;
    justify-content: center;
  }
  .product__gallery__image {
    margin-top: 85px;
    margin-bottom: 85px;
    height: 454px;
  }
  .product__gallery__left {
    position: absolute;
    top: 288px;
    left: 0;
  }
  .product__gallery__right {
    position: absolute;
    top: 288px;
    right: 0;
  }
  .product__data__text {
    padding: 0px 24px 32px 24px;
  }
  .product__data__filter {
    gap: 25px;
    padding-top: 49px;
  }
  .product__data__filter__text {
    font-size: 10px;
  }
}
.filter-sort {
  padding-top: 39px;
  height: 132px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 16px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #FFF;
  padding: 0 16px 16px 16px;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  color: #222222;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 27px;
}
.sort__details {
  position: relative;
  z-index: 1;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paginator {
  width: 283px;
  border: solid 1px #EBEBEB;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 96px;
}
.paginator__group {
  display: flex;
  justify-content: space-between;
}
.paginator__page, .paginator__dots {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #C4C4C4;
  cursor: pointer;
  transition: color 0.3s;
}
.paginator__page:hover {
  color: #F16D7F;
}
.paginator__icon {
  cursor: pointer;
  transition: fill 0.3s;
}
.paginator__icon:hover path {
  fill: #F16D7F;
}

@media (max-width: 1023px) {
  .filter-sort {
    padding-top: 11px;
    height: 81px;
  }
  .catalog__product-cards-catalog {
    margin-top: 0;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .filter-sort {
    margin-bottom: -65px;
  }
  .filter__heading {
    display: none;
  }
  .filter__summary {
    gap: 0px;
    padding-left: 0;
  }
  .filter__logo {
    width: 37.5px;
    height: 25px;
  }
  .filter__content {
    width: 200px;
    position: relative;
    z-index: 30;
  }
  .sort {
    gap: 23px;
  }
  .sort__heading {
    font-size: 12px;
  }
  .paginator {
    margin-top: 40px;
    margin-bottom: 64px;
  }
}
.shopping-cart {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}
.shopping-cart__container-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.shopping-cart__product-item {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 652px;
  /* height: 306px; */
  display: flex;
  position: relative;
}
.shopping-cart__product-info {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 22px 31px 62px 31px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.shopping-cart__product-header {
  color: #222;
  font-size: 24px;
  padding-bottom: 36px;
}
.shopping-cart__product-text {
  color: #575757;
}
.shopping-cart__product-text-colored {
  color: #F16D7F;
}
.shopping-cart__product-text-basic {
  color: #6F6E6E;
}
.shopping-cart__qty {
  width: 44px;
  height: 25px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  text-align: center;
  color: #656565;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shopping-cart__product-remove {
  position: absolute;
  top: 28px;
  right: 22px;
  cursor: pointer;
  transition: fill 0.5s;
}
.shopping-cart__product-remove:hover path {
  fill: #F16D7F;
}
.shopping-cart__buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 128px;
}
.shopping-cart__button-link {
  display: block;
  width: 235px;
  height: 50px;
  border: 1px solid #A4A4A4;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.3s;
}
.shopping-cart__button-link:hover {
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  color: #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adress {
  padding-top: 17px;
}
.adress__title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}
.adress__input {
  box-sizing: border-box;
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
  padding: 12px 16px 16px 16px;
}
.adress__input::-moz-placeholder {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat";
}
.adress__input::placeholder {
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "Montserrat";
}
.adress__submit-button {
  box-sizing: border-box;
  width: 101px;
  height: 35px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  font-size: 11px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s;
}
.adress__submit-button:hover {
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  color: #FFFFFF;
}

.bill {
  box-sizing: border-box;
  width: 360px;
  height: 214px;
  margin-top: 60px;
  padding: 39px 44px 42px 44px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.bill__subtotal {
  display: flex;
  gap: 15px;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.bill__total {
  display: flex;
  gap: 15px;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 21px;
  align-self: center;
  border-bottom: 1px solid #E2E2E2;
}
.bill__total__amount {
  color: #F16D7F;
  font-weight: bold;
}
.bill__checkout-button {
  display: block;
  box-sizing: border-box;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  margin-top: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  transition: all 0.3s;
}
.bill__checkout-button:hover {
  background-color: #FFF;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

@media (max-width: 1023px) {
  .shopping-cart {
    margin-top: 59px;
    flex-direction: column;
  }
  .shopping-cart__product-item {
    width: 734px;
  }
  .shopping-cart__buttons {
    width: 518px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 64px;
  }
  .shopping-cart__container-right {
    display: flex;
    gap: 15px;
    margin-bottom: 128px;
  }
}
@media (max-width: 767px) {
  .navigation {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .shopping-cart {
    margin-top: 39px;
  }
  .shopping-cart__container-left {
    gap: 32px;
  }
  .shopping-cart__product-item {
    width: 358px;
    height: 188px;
  }
  .shopping-cart__product-img {
    width: 143.859px;
  }
  .shopping-cart__product-info {
    font-size: 14px;
    padding: 14px 17px 38px 17px;
    gap: 4px;
  }
  .shopping-cart__product-header {
    font-size: 16px;
    padding-bottom: 26px;
  }
  .shopping-cart__qty {
    width: 24px;
    height: 15px;
    margin-left: 9px;
    font-size: 10px;
  }
  .shopping-cart__product-remove {
    position: absolute;
    top: 17px;
    right: 12px;
    width: 10px;
    height: 11px;
  }
  .shopping-cart__buttons {
    padding-top: 30px;
    padding-bottom: 48px;
    justify-content: flex-start;
    gap: 18px;
  }
  .shopping-cart__button-link {
    width: 175px;
    height: 33px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
  }
  .shopping-cart__container-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 96px;
  }
  .bill {
    margin-top: 48px;
  }
}
.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  gap: 128px;
}
.registration__form {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}
.registration__form__header {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding-bottom: 10px;
}
.registration__form__input-field {
  width: 360px;
  height: 45px;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 0 16px 0 16px;
  fill: #FFF;
  border: solid 1px #A4A4A4;
  color: #B1B1B1;
  font-family: "Montserrat";
  font-weight: 300;
}
.registration__form__radio {
  margin: 20px 0 33px 0;
  display: flex;
  gap: 20px;
}
.registration__form__radio-item {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #222222;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
}
.registration__form__text {
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  max-width: 360px;
  padding-top: 5px;
  margin-bottom: 40px;
}
.registration__form__button {
  width: 167px;
  height: 50px;
  box-sizing: border-box;
  background-color: #da2a52;
  border: solid 1px #da2a52;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s;
}
.registration__form__button:hover {
  background-color: #FFF;
  color: #F16D7F;
}
.registration__loyalty {
  color: #000;
  max-width: 652px;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}
.registration__loyalty__header {
  font-weight: 300;
  padding-bottom: 22px;
}
.registration__loyalty__text {
  padding-bottom: 22px;
}
.registration__loyalty__list {
  list-style: none;
}
.registration__loyalty__list-item {
  padding-bottom: 16px;
}
.registration__loyalty__list-item::before {
  content: "✔";
  padding-right: 22px;
}

@media (max-width: 1023px) {
  .registration {
    padding-top: 40px;
    gap: 22px;
  }
  .registration__loyalty {
    max-width: 354px;
    font-size: 16px;
    line-height: 19px;
  }
  .registration__loyalty__header {
    padding-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .registration {
    flex-direction: column;
    gap: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat";
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: white;
  /* padding-top: 18px; */
  padding-bottom: 18px;
  font-size: 20px;
  color: #222;
  border-bottom: 2px solid #dee2e6;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}
.nav__left {
  width: 80%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex-end;
  gap: 41px;
}
.nav__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 33px;
}

.menu__icon__logo path {
  transition: all 0.3s;
  fill: #222;
}
.menu__icon__logo:hover path {
  /* fill: #F16D7F; */
}
.menu__container {
  background-color: #FFF;
  width: 232px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  right: 0%;
  top: 60px;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s;
}
.menu__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  margin-left: 33px;
  margin-bottom: 4px;
}
.menu__categories {
  margin-top: 20px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-left: 32px;
  list-style-type: none;
}
.menu__internal {
  margin-left: 20px;
  list-style-type: none;
  margin-bottom: 11px;
}
.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #6F6E6E;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #F16D7F;
  cursor: pointer;
}

.menu:hover .menu__container {
  opacity: 1;
}

.top {
  /* background: #F1E4E6; */
}
.top__content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 63.42px;
}
.top__image {
  width: 40%;
}
.top__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 200px;
}
.bototm__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 45px;
  color: #222222;
}
.top__blacktext {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.top__colortext {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
}

.categories {
  margin-top: 65px;
  margin-bottom: 96px;
  display: grid;
  gap: 2.5%;
  grid-template-columns: repeat(3, 31.5%);
  justify-content: center;
}
.categories__item_1 {
  background-image: url("../img/category_1.jpg");
}
.categories__item_2 {
  background-image: url("../img/category_2.jpg");
}
.categories__item_3 {
  background-image: url("../img/category_3.jpg");
}
.categories__item_4 {
  background-image: url("../img/category_4.jpg");
  grid-column: span 3;
  gap: 60px;
}
.categories__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 105px;
}
.categories__title {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
  padding-bottom: 105px;
}
.categories__subtitle_item_4 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 65px;
}
.categories__title_item_4 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
  padding-bottom: 65px;
}

.catalog__title {
  font-style: bold;
  font-weight: 400;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 36px;
  color: #222222;
  text-align: center;
}
.catalog__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}
.catalog__product-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding-top: 30px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
}
.product__image {
  width: 100%;
}
.product__img {
  width: 100%;
}
.product__buy-me-box {
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}
.product__buy-me-cover {
  background: rgba(58, 56, 56, 0.86);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__buy-me-button {
  height: 44px;
  width: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border: solid 1px #FFF;
}
.product__buy-me-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: box;
  padding-top: 14px;
  padding-bottom: 13px;
}
.product__content {
  background-color: #F8F8F8;
  padding: 24px 16px;
  height: 100%;
}
.product__name {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 16px;
}
.product__description {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 16px;

  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}
.product__price {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 19px;
  color: #eb395f;
}

.product__buy-me-button:hover {
  border: solid 2.5px #FFF;
  cursor: pointer;
}

.product:hover .product__buy-me-box {
  opacity: 1;
  cursor: pointer;
}

.button {
  width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  margin: 48px auto 95px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.button__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  transition: all 0.5s;
}

.button:hover {
  background: #F16D7F;
  border: solid 1px #F16D7F;
  cursor: pointer;
}

.button:hover .button__link {
  color: #FFFFFF;
  cursor: pointer;
}

.service {
  background: white;
  padding-top: 103px;
  padding-bottom: 104px;
}
.service__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__img {
  height: 32px;
}
.service__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 19.96px;
  line-height: 24px;
  color: black;
  padding-top: 28px;
}
.service__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: black;
  padding-top: 16px;
}

.subscription {
  /* background-image: url("../img/subscribe_background.jpg"); */
  /* background image widht  100% */
  /* background-size: cover; */
  background-color: #fef5f7;
  max-width: 100%;
  height: 448px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 60px;
  padding-right: 120px;
}
.feedback {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 360px;
  padding-left: 50px;
}
.feedback__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  color: #222222;
  padding-top: 30px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription-form__heading {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222222;
}
.subscription-form__subheading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
}
.subscription-form__form {
  display: flex;
}
.subscription-form__input-field {
  margin-top: 32px;
  width: 212px;
  padding: 17px 22px 13px 22px;
  border-radius: 3% 0px 0px 3%;
  background: #fef5f7;
  border: #fef5f7;
}
.subscription-form__input-field::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222222;
  opacity: 0.67;
}
.subscription-form__input-field::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222222;
  opacity: 0.67;
}
.subscription-form__submit-button {
  margin-top: 32px;
  width: 88px;
  /* height: 49px; */
  padding-left: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0px 3% 3% 0px;
  background: black;
  border: black;
  color: white;
  transition: all 0.5s;
}
.subscription-form__submit-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.subscription-form__submit-button:hover {
  /* background: #FFF; */
  /* border: solid 1px #F16D7F; */
  /* color: #F16D7F; */
  cursor: pointer;
}
.subscription-form__submit-button:hover .subscription-form__submit-link {
  /* color: #F16D7F; */
  cursor: pointer;
}

.footer {
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 23px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__brand {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #924b6b;
}
.footer__sm-buttons {
  display: flex;
  gap: 7.3px;
}
.footer__sm-logo {
  transition: all 0.3s;
}

.facebook:hover .footer__sm-logo, .instagram:hover .footer__sm-logo, .pinterest:hover .footer__sm-logo, .twitter:hover .footer__sm-logo {
  fill: #d3bfc2;
  cursor: pointer;
}

.facebook, .instagram, .pinterest, .twitter {
  border-radius: 15%;
}

.facebook:active, .instagram:active, .pinterest:active, .twitter:active {
  box-shadow: 2px 2px 5px darkgrey;
}

@media (max-width: 1023px) {
  .center {
    max-width: 736px;
  }
  .top__content {
    max-width: 770px;
    gap: 39px;
  }
  .top__text {
    margin-top: auto;
    margin-bottom: auto;
  }
  .top__title {
    font-size: 44px;
    line-height: 33px;
  }
  .top__blacktext, .top__colortext {
    font-size: 24px;
    line-height: 29px;
  }
  .categories {
    margin-bottom: 110px;
    gap: 19.5px;
    grid-template-columns: repeat(3, 232px);
  }
  .categories__item_1, .categories__item_2, .categories__item_3 {
    height: 168px;
    background-size: cover;
  }
  .categories__item_4 {
    height: 116px;
    grid-column: span 3;
    background-size: cover;
  }
  .categories__subtitle {
    padding-top: 59px;
  }
  .categories__title {
    padding-bottom: 59px;
  }
  .categories__subtitle_item_4 {
    padding-top: 33px;
  }
  .categories__title_item_4 {
    padding-bottom: 33px;
  }
  .catalog__product-cards {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .product__heading {
    margin-bottom: 12px;
  }
  .product__price {
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .button {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .service__content {
    flex-direction: column;
    gap: 48px;
    max-width: 360px;
  }
  .subscription {
    padding-top: 64px;
    padding-bottom: 140px;
    max-width: 1023px;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
}
@media (max-width: 767px) {
  .center {
    max-width: 343px;
  }
  .person__link, .busket__link {
    display: none;
  }
  .top__content {
    max-width: 375px;
    min-height: 363px;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .top__image {
    display: none;
  }
  .top__text {
    margin-top: auto;
    margin-bottom: auto;
  }
  .top__title {
    font-size: 38px;
    line-height: 33px;
  }
  .top__blacktext, .top__colortext {
    font-size: 20px;
    line-height: 24px;
  }
  .categories {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
  .categories__item_1, .categories__item_2, .categories__item_3 {
    height: 249px;
    background-size: cover;
  }
  .categories__item_4 {
    height: 111px;
    background-size: cover;
  }
  .categories__subtitle {
    padding-top: 98px;
  }
  .categories__title {
    padding-bottom: 99px;
  }
  .categories__subtitle_item_4 {
    padding-top: 30px;
  }
  .categories__title_item_4 {
    padding-bottom: 30px;
  }
  .catalog__product-cards {
    margin-top: 65px;
    margin-bottom: 41px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .product__heading {
    margin-bottom: 12px;
  }
  .product__price {
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .button {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .service {
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .service__content {
    flex-direction: column;
    gap: 46.5px;
    max-width: 310px;
  }
  .service__heading {
    padding-top: 27px;
  }
  .service__text {
    padding-top: 14.5px;
  }
  .subscription {
    padding-bottom: 110px;
    max-width: 1023px;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 59px;
  }
  .feedback {
    max-width: 310px;
  }
  .feedback__text {
    font-size: 18px;
    line-height: 22px;
  }
  .subscription-form__heading {
    font-family: "Lobster";
    font-size: 24px;
    line-height: 37px;
  }
  .subscription-form__subheading {
    font-size: 14px;
    line-height: 21px;
  }
  .subscription-form__input-field {
    margin-top: 22px;
    width: 200px;
    padding: 15px 21px 13px 21px;
  }
  .subscription-form__submit-button {
    margin-top: 22px;
    width: 85px;
  }
  .footer {
    background: #222224;
    padding-top: 24px;
    padding-bottom: 23px;
  }
  .footer__content {
    padding-top: 43px;
    flex-direction: column-reverse;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */